//--------------------------------------------------------------------------
// OSSIM configuration for use by orthoism and other FPGA-related applications
// 
// Expected in the environment:
//   OSSIM_INSTALL_PREFIX -- directory containing bin, lib, and share
//   OSSIM_DATA -- Directory containing elevation and geoids
//--------------------------------------------------------------------------
orthoism.radiusOfInfluence: 0.5
orthoism.safetyMargin: 2
orthoism.resamplerType: BI
resampler.minify_type: bilinear
resampler.magnify_type: bilinear
renderer.interpolation_error_threshold: 0.5
cache_size: 1024
tile_size: 256 256
plugin.file1: $(OSSIM_INSTALL_PREFIX)/lib64/ossim/plugins/libossim_png_plugin.so
plugin.file2: $(OSSIM_INSTALL_PREFIX)/lib64/ossim/plugins/libossim_cnes_plugin.so
plugin.file3: $(OSSIM_INSTALL_PREFIX)/lib64/ossim/plugins/libossim_gdal_plugin.so
default_elevation_path:  $(OSSIM_DATA)/elevation
elevation_manager.default_height_above_ellipsoid: 0.0
elevation_manager.elevation_offset: nan
elevation_manager.use_geoid_if_null: true
elevation_manager.enabled:  true
elevation_manager.threads: yes
elevation_manager.elevation_source0.connection_string: $(OSSIM_DATA)/elevation/dted/level0
elevation_manager.elevation_source0.enabled: true
elevation_manager.elevation_source0.type: dted_directory
elevation_manager.elevation_source0.min_open_cells: 25
elevation_manager.elevation_source0.max_open_cells: 50
elevation_manager.elevation_source0.memory_map_cells: true
elevation_manager.elevation_source0.geoid.type: geoid1996
datum_grids: $(OSSIM_DATA)/elevation/nadcon
ossim_share_directory: $(OSSIM_INSTALL_PREFIX)/share/ossim
epsg_database_file1: projection/ossim_epsg_projections-v7_4.csv
epsg_database_file2: projection/ossim_harn_state_plane_epsg.csv
epsg_database_file3: projection/ossim_state_plane_spcs.csv
epsg_database_file4: projection/ossim_harn_state_plane_esri.csv
wkt_database_file:   projection/ossim_wkt_pcs.csv
geoid_egm_96_grid:   $(OSSIM_DATA)/elevation/geoids/geoid96/egm96.grd
geoid_99_directory:  $(OSSIM_DATA)/elevation/geoids/geoid99
geoid_ngs_directory: $(OSSIM_DATA)/elevation/geoids/geoid99
geoid_ngs_directory.byte_order: big_endian
